@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/vendor";
@import "libs/breakpoints";
@import "libs/html-grid";

// Breakpoints.
@font-face {
  font-family: "gilroy-extrabold";
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-light";
  src: url("../fonts/gilroy-light-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@include breakpoints(
  (
    xlarge: (
      1281px,
      1680px,
    ),
    large: (
      981px,
      1280px,
    ),
    medium: (
      737px,
      980px,
    ),
    small: (
      481px,
      736px,
    ),
    xsmall: (
      361px,
      480px,
    ),
    xxsmall: (
      null,
      360px,
    ),
  )
);

// Base.

@import "base/reset";
@import "base/page";
@import "base/typography";

// Component.

@import "components/navbar";
@import "components/button";
@import "components/image";

// Layout.

@import "layout/header";
@import "layout/wrapper";
